{% extends 'admin/base.html.twig' %}

{% block title %}Modifier un Abonné{% endblock %}

{% block body %}
    <h1>Modifier un abonné</h1>

    {{ include('abonne/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-dark" href="{{ path('abonne_index') }}">Retour</a>

    {{ include('abonne/_delete_form.html.twig') }}
{% endblock %}
