{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel Emprunt{% endblock %}

{% block body %}
    <h1>Créer un Emprunt</h1>

    {{ include('emprunt/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('emprunt_index') }}">Retour</a>
{% endblock %}
